@import url("slick.css");
@import url("slick-theme.css");
@import url('https://fonts.googleapis.com/css?family=Lobster|Lato|Quicksand&display=swap');

* {
    margin: 0px;
    padding: 0px;
    outline: none;
}

html , body {
    height: 100%;
    padding-bottom: 60px;
}

ul {
    list-style: none;
}

h1 , h2 , h3 , h4 , h5 {
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
}

h3::after{
    content : ' ';
    display: block;
    width: 12px;
    border-radius: 10px;
    height: 4px;
    background-color: #3E0470;
}

.header-site-mobile .top-mobile {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background: linear-gradient(75deg, #010101, #090909);
    color:#EEE;
    font-family: 'Lobster', cursive;
    position: fixed;
    width: calc(100% - 20px);
    z-index: 99;
    top:0;
}

.button-menu-mobile .bar1, .button-menu-mobile .bar2, .button-menu-mobile .bar3 {
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background-color: #620CAC;
    margin: 5px 0;
    transition: 0.4s;
}

.button-menu-mobile.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 5px);
    transform: rotate(-45deg) translate(-5px, 5px);
  }
  
.button-menu-mobile.change .bar2 {
    width: 0px;
}

.button-menu-mobile.change .bar3 {
-webkit-transform: rotate(45deg) translate(-5px, -5px);
transform: rotate(45deg) translate(-8px, -8px);
}

.menu {
    height: 300px;
    background: linear-gradient(75deg, #010101, #090909);
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 52px;
    transition: 0.4s;
}

.menu.closed {
    height: 0px;
}

.home-page {
    margin-top:49px;
}

.section {
    padding:0 3px;
}

.section.text01 {
    text-align: center;
    padding: 25px 5px;
}

.section.text01 h1 {
    color: #3E0470
}

.section.text01 p {
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    color:#666;
    text-align: left;
}

.section.categoria01 {
    background: #F6F6F6;
}

.section.categoria01 > h3 {
    padding: 10px 5px;
    color: #3E0470
}
.categoria01 .item-slider-2-home {
    background: rgba(255,255,255,.7);
    border: 1px solid #F6F6F6;
    border-radius: 10px;
}

.categoria01 .item-slider-2-home h5 {
    margin: 5px 8px;
    color: #620CAC;
}


.categoria01 .item-slider-2-home img {
    width: 90%;
    margin: 10px auto;
}

.categoria01 .item-slider-2-home .product-description {
    width: 90%;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}

.categoria01 .item-slider-2-home .product-description .price {
    display: block;
    padding: 7px 10px;
    width: 90%;
    text-align: right;
    color: #620CAC;
    font-weight: bold;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax1 {
    background-image: url("../assets/images/fundo1.jpg");
}

.parallax1 h1 {
    text-align: center;
    color: #FFF;
    padding: 50px 30px;
    font-weight: normal;
}

.payment {
    /* background: linear-gradient(70deg, #101010, #151515); */
    background: #FFD200;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

.payment h1 {
    color:#101010;
    margin-bottom: 20px;
}

.footer-site {
    padding: 20px 0;
    background: linear-gradient(75deg, #010101, #090909);
    color:#E0E0E0;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.footer-site ul {
    padding-bottom: 15px;
}

.footer-site ul li {
    padding:5px 20px;
}

.footer-site div {
    padding: 20px 20px 0;
    border-top: 1px solid #202020;
}