@import url("slick.css");
@import url("slick-theme.css");
@import url('https://fonts.googleapis.com/css?family=Lobster|Lato|Quicksand|Baloo+Bhai&display=swap');

* {
    margin: 0px;
    padding: 0px;
    outline: none;
}

html , body {
    height: 100%;
    padding-bottom: 60px;
}

ul {
    list-style: none;
}

h1 , h2 , h3 , h4 , h5 {
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
}

h3::after{
    content : ' ';
    display: block;
    width: 12px;
    border-radius: 10px;
    height: 4px;
    background-color: #c60707;
}

.header-site-mobile .top-mobile {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background-color: #000;
    color:#EEE;
    font-family: 'Lobster', cursive;
    position: fixed;
    width: calc(100% - 20px);
    z-index: 99;
    top:0;
    transition: 0.4s;
}

.header-site-mobile .top-mobile.change {
    background-color: #c60707
}

.header-site-mobile .top-mobile .buttons {
    display: flex;
    justify-content: space-between;
}
.header-site-mobile .top-mobile .buttons > button {
    background: none;
    border: none;
    color: #c60707;
    transition: 0.4s;
    font-size: 27px;
    margin: 4px 10px 0 0;
}
.header-site-mobile .top-mobile.change .buttons > button {
    color: #FFF;
}
.header-site-mobile .top-mobile .buttons .button-cart {
    margin-top: 3px;
}
.button-menu-mobile .bar {
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background-color: #c60707;
    margin: 5px 0;
    transition: 0.4s;
}

.button-menu-mobile.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 5px);
    transform: rotate(-45deg) translate(-5px, 5px);
  }
  
.button-menu-mobile.change .bar2 {
    width: 0px;
}

.button-menu-mobile.change .bar3 {
-webkit-transform: rotate(45deg) translate(-5px, -5px);
transform: rotate(45deg) translate(-8px, -8px);
}

.button-menu-mobile.change .bar {
    background-color: #FFF;
}

.menu {
    height: 100%;
    /*background: linear-gradient(75deg, #010101, #090909);*/
    background: #c60707;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 55px;
    transition: 0.4s;
}

.menu.closed {
    height: 0px;
}

.home-page {
    margin-top:55px;
}
.home-page .bannerTop {
    width:100%;
    height: 300px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(238,56,56,1) 0%, rgba(206,21,0,0.92) 90.1% );
    font-family: 'Baloo Bhai', cursive;
    line-height: 300px;
    text-align: center;
    font-size: 40px;
    color: #FFF;
}

.home-page .b2 {
    background-image: linear-gradient( 359.3deg,  rgba(196,214,252,1) 1%, rgba(187,187,187,0) 70.9% );
    color:#111
}

.home-page .b3 {
    background-image: radial-gradient( circle farthest-corner at 10.6% 22.1%,  rgba(206,18,18,1) 0%, rgba(122,21,21,1) 100.7% );
}

.home-page .b4 {
    background-image: radial-gradient( circle 328px at 2.9% 15%,  rgba(191,224,251,1) 0%, rgba(232,233,251,1) 25.8%, rgba(252,239,250,1) 50.8%, rgba(234,251,251,1) 77.6%, rgba(240,251,244,1) 100.7% );
    color:#111
}

.section {
    padding:0 3px;
}

.section.text01 {
    text-align: center;
    padding: 25px 5px;
}

.section.text01 h1 {
    color: #3E0470
}

.section.text01 p {
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    color:#666;
    text-align: left;
}

.section.categoria01 {
    background: #F6F6F6;
}

.section.categoria01 > h3 {
    padding: 10px 5px;
    color: #c60707
}
.categoria01 .item-slider-2-home {
    background: #E72222;
    border: 1px solid #c60707;
    border-radius: 2px;
    margin: 0 1px;
}

.categoria01 .item-slider-2-home h5 {
    margin: 5px 8px;
    color: #620CAC;
}


.categoria01 .item-slider-2-home img {
    width: 90%;
    margin: 10px auto;
}

.categoria01 .item-slider-2-home .product-description {
    width: 90%;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}

.categoria01 .item-slider-2-home .product-description .price {
    display: block;
    padding: 7px 10px;
    width: 90%;
    text-align: right;
    color: #620CAC;
    font-weight: bold;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax1 {
    background-image: url("../assets/images/fundo1.jpg");
}

.parallax1 h1 {
    text-align: center;
    color: #FFF;
    padding: 50px 30px;
    font-weight: normal;
}

.payment {
    /* background: linear-gradient(70deg, #101010, #151515); */
    background: #FFD200;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

.payment h1 {
    color:#101010;
    margin-bottom: 20px;
}

.footer-site {
    padding: 20px 0;
    background: linear-gradient(75deg, #010101, #090909);
    color:#E0E0E0;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.footer-site ul {
    padding-bottom: 15px;
}

.footer-site ul li {
    padding:5px 20px;
}

.footer-site div {
    padding: 20px 20px 0;
    border-top: 1px solid #202020;
}