* {
    margin: 0px;
    padding: 0px;
}

html , body {
    height: 100%;
}

ul {list-style: none;}

.menu-mobile {
    background: rgba(0,0,0,.8);
    height: 100%;
    position: absolute;
    width: 100%;
}

.menu-mobile .search-box {
    text-align: center;
    height: 80px;
    line-height: 80px;
}

.menu-mobile .search-box input {
    width: 80%;
    padding: 7px;
    border: none;
    border-radius: 7px 0 0 7px;
}
.menu-mobile .search-box button {
    padding: 7px;
    border: none;
    border-radius: 0 7px 7px 0;
}

.menu-mobile nav {
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    height: calc(100% - 140px);
}

.menu-mobile nav div {
    text-align: center;
    border-top:1px solid #FFF;
    border-bottom:1px solid #FFF;
    flex: 1 1;
}